h1{
    text-align: center;
    color: darkred;
}
img{
    height: 300px;
    margin-left: 43%;
    margin-right: 43%;
}
p{
    text-align: left;
    font-family: rajdhani,sans-serif;
    font-size: 16px;
    margin-left: 17%;
    margin-right: 17%;
}